---
import { Tabs, TabItem } from '@astrojs/starlight/components';
import Code from './Code.astro'

type Props = {
  name: string;
	class?: string;
  sources: {
		type: 'react' | 'svelte' | 'css'
		title: string;
		content: string;
		language: string;
	}[];
  children: any;
}

const { name, class: classProp, sources } = Astro.props;
---

<style>
	.showcase {
		border: 1px solid var(--sl-color-gray-5);
		border-radius: 0.5rem;
		overflow: hidden;
		color: var(--sl-color-gray-2);
		box-shadow: var(--sl-shadow-md);
	}

	.showcase :global(starlight-tabs *) {
		margin: 0 !important;
		border-radius: 0 !important;
	}

	.showcase :global([role='tablist']) {
		border: 0 !important;
	}

	.showcase :global([role='tab']) {
		box-sizing: border-box;
		height: 32px;
	}

	.viewport {
		display: flex;
		padding-block: 100px;
		align-items: center;
		justify-content: center;
	}

	.code {
		border: 0;
		border-radius: 0;
	}
</style>

<div class:list={['not-content', 'showcase', classProp]} aria-label={name}>
  <div class:list={['not-content', 'viewport']}>
		<slot />
  </div>

	<Tabs>
		{sources.map(({ type, title, content, language }) => (
			<TabItem label={title} icon={`seti:${type}`}>
				<Code language={language} code={content} class='code'/>
			</TabItem>
		))}
	</Tabs>
</div>
